.form-container {
    max-width: 600px;
    padding: 16px;
    position: relative;
  }
  
  .close-btn {
    // position: absolute;
    // top: 10px;
    // right: 10px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  